<div class="row">
    <div class="col-md-12 col-xl-12 ">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <h3 class="card-title">Obtinerea certificatului de absolvire a celor 3 cursuri</h3>
            <div class="container">
                CURSUL 1 este disponibil si poate fi parcurs. Pentru a trece la CURSUL 2 este necesar ca la finalul
                primului curs, studentii sa sustina
                examenul de tip grila de 20 de intrebari. Obtinearea unui rezultat de minim de 65 de puncte va debloca
                urmatorul curs ce poate fi studiat.
                Pentru o buna dezvoltare a cunostintelor, studentul nu poate studia urmatorul curs, pana nu dobandeste
                cunostinte minime din cursul aferent.
                Toate cursurile sunt blocate cu exceptia primului.
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
