<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title"><b>{{payload.curs_name}}</b></h4>
    </div>
</div>
<div class="row">

    {{#each payload.curs}}
        <div class="col-md-12">
            <div class="card shadow-lg mb-5 p-3">
                <div class="card-body">
                    <h4>
                        <b>
                            <i class="fa fa-book" aria-hidden="true"></i> {{this.description}}
                        </b>
                    </h4>
                    <p>{{this.context}}</p>
                </div>
            </div>
        </div>
    {{/each}}

    <div class="col-md-12">
        <div class="card shadow-lg mb-5 p-3">
            <div class="card-body text-center">
                <div class="terms">
                    <p><b>Felicitari pentru timpul acordat acestui curs.</b></p>
                    <a href="/quiz?c={{payload.curs_id}}" class="btn btn-orange text-white">Incepe Testul</a>
                </div>
            </div>
        </div>
    </div>
</div>
