<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{payload.title}}</a>
    <a class="navbar-brand" href="/cursuri">Cursuri</a>
    <span class="navbar-brand" >{{payload.user}}</span>
</nav>