<nav class="navbar navbar-expand-lg bg-white sticky-top border-bottom ">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbarCursuri" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Cursuri
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarCursuri">
                <a class="dropdown-item" href="/cursuri?id=1">Cursul 01</a>
                <a class="dropdown-item" href="/cursuri?id=2">Cursul 02</a>
                <a class="dropdown-item" href="/cursuri?id=3">Cursul 03</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profil">Status Cursuri</a>
        </li>
    </ul>

    <ul class="navbar-nav float-right">
        <li class="nav-item dropleft">
            <a class="nav-link dropdown-toggle" href="/" id="navbarUser" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                {{payload.user}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarUser">
                <a class="dropdown-item" href="/profile">Profile</a>
                <a class="dropdown-item" href="/#">Log out</a>
            </div>
        </li>
    </ul>

</nav>