<nav class="navbar navbar-expand-lg bg-dark navbar-light" style="border-bottom: 1px solid #6b6b6b">

    <div class="container">
        <a class="navbar-brand text-white">Securitatea Sistemelor informatice</a>
    </div>
    </nav>
<nav class="navbar navbar-expand-lg bg-dark navbar-light sticky-top">

      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse bg-dark" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
              
            <li class="nav-item ">
              <a href="/" class="nav-link text-white">Cursuri</a>
              
            </li>
            <li class="nav-item">
              <a href="profil" class="nav-link text-white">Certificari</a>
            </li>
          </ul>
          <div class="dropdown">
            <button type="button" class="btn btn-orange btn-sm dropdown-toggle" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bun venit {{payload.user}}</button>
            <div class="dropdown-menu" aria-labelledby="navbarUser">

<!--                <a class="dropdown-item" href="/profil">Profil</a>-->
                <a class="dropdown-item"  href="/logout">Log out</a>
            </div>
          </div>
        </div>
      </div>
    </nav>