<!-- Horizontal-menu -->
<div class="horizontal-main hor-menu clearfix">
    <div class="horizontal-mainwrapper container clearfix">
        <nav class="horizontalMenu clearfix">
            <ul class="horizontalMenu-list">
                <li aria-haspopup="true"><a href="/" class="sub-icon "><i class="fe fe-monitor hor-icon"></i>Cursurile
                    PIE <i class="fa fa-angle-down horizontal-icon"></i></a>
                    <ul class="sub-menu">
                        <li aria-haspopup="true"><a href="/cursuri">Curs 02</a></li>
                        <li aria-haspopup="true"><a href="/cursuri">Curs 01</a></li>
                        <li aria-haspopup="true"><a href="/cursuri">Curs 03</a></li>
                        <li aria-haspopup="true"><a href="/cursuri">Curs 04</a></li>
                        <li aria-haspopup="true"><a href="/cursuri">Curs 05</a></li>
                        <li aria-haspopup="true"><a href="/cursuri">Curs 06</a></li>
                    </ul>
                </li>
                <li aria-haspopup="true"><a href="/profil" class=""><i class="fe fe-clipboard"></i>Status Cursuri</a>
                </li>
            </ul>
        </nav>
        <!--Nav end -->
    </div>
</div>
<!-- Horizontal-menu end -->