<!-- Row -->
						<div class="row">
					
				
							<div class="col-md-12 col-xl-12">
								<div class="card  bg-lime">
									<div class="card-header z-index-10">
										<h3 class="card-title text-white">Obtinerea certificatului de absolvire a celor 6 cursuri</h3>
										<div class="card-options">
											<a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
											<a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x text-white"></i></a>
										</div>
									</div>
									<div class="card-body  text-white">
										CURSUL 1 este disponibil si poate fi parcurs. Pentru a trece la CURSUL 2 este necesar ca la finalul primului curs, studentii sa sustina
										examenul de tip grila de 20 de intrebari. Obtinearea unui rezultat de minim de 65 de puncte va debloca urmatorul curs ce poate fi studiat.
										Pentru o buna dezvoltare a cunostintelor, studentul nu poate studia urmatorul curs, pana nu dobandeste cunostinte minime din cursul aferent.
										Toate cursurile sunt blocate cu exceptia primului.
									</div>
								</div>
							</div>
	
							<div class="col-md-12 col-xl-4">
								<div class="card ">
									<div class="card-header ">
										<h3 class="card-title ">Developer</h3>
										<div class="card-options">
											<a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x "></i></a>
										</div>
									</div>
									<div class="card-body text-center">
										<img src="assets/images/users/16.jpg" class="avatar avatar-xxl brround" alt="">
										<h4 class="h4 mb-0 mt-3">Ovidiu DITA</h4>
										<p class="card-text">Frontend</p>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-xl-4">
								<div class="card ">
									<div class="card-header ">
										<h3 class="card-title ">Developer</h3>
										<div class="card-options">
											<a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x "></i></a>
										</div>
									</div>
									<div class="card-body text-center">
										<img src="assets/images/users/10.jpg" class="avatar avatar-xxl brround" alt="">
										<h4 class="h4 mb-0 mt-3">Claudiu ILIE</h4>
										<p class="card-text">Backend</p>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-xl-4">
								<div class="card ">
									<div class="card-header ">
										<h3 class="card-title ">Developer</h3>
										<div class="card-options">
											<a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x "></i></a>
										</div>
									</div>
									<div class="card-body text-center">
										<img src="assets/images/users/8.jpg" class="avatar avatar-xxl brround" alt="">
										<h4 class="h4 mb-0 mt-3">Cristian COCIAS</h4>
										<p class="card-text">Database</p>
									</div>
								</div>
							</div>
						</div>
						<!-- End Row-->