<!-- Row -->
<div class="row">

    <div class="col-md-12 col-xl-4">
        <div class="card ">
            <div class="card-header ">
                <h3 class="card-title ">Developer</h3>
                <div class="card-options">
                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                            class="fe fe-chevron-up"></i></a>
                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x "></i></a>
                </div>
            </div>
            <div class="card-body text-center">
                <img src="assets/images/users/16.jpg" class="avatar avatar-xxl brround" alt="">
                <h4 class="h4 mb-0 mt-3">Ovidiu DITA</h4>
                <p class="card-text">Frontend</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4">
        <div class="card ">
            <div class="card-header ">
                <h3 class="card-title ">Developer</h3>
                <div class="card-options">
                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                            class="fe fe-chevron-up"></i></a>
                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x "></i></a>
                </div>
            </div>
            <div class="card-body text-center">
                <img src="assets/images/users/10.jpg" class="avatar avatar-xxl brround" alt="">
                <h4 class="h4 mb-0 mt-3">Claudiu ILIE</h4>
                <p class="card-text">Backend</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4">
        <div class="card ">
            <div class="card-header ">
                <h3 class="card-title ">Developer</h3>
                <div class="card-options">
                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                            class="fe fe-chevron-up"></i></a>
                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x "></i></a>
                </div>
            </div>
            <div class="card-body text-center">
                <img src="assets/images/users/8.jpg" class="avatar avatar-xxl brround" alt="">
                <h4 class="h4 mb-0 mt-3">Cristian COCIAS</h4>
                <p class="card-text">Database</p>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->