<div class="row">
    <div class="col-md-12 col-xl-4">
        <div class="card ">
            <div class="card-header ">
                <h3 class="card-title ">Developer</h3>
            </div>
            <div class="card-body text-center">
                <img src="avatar/dita.jpg" class="avatar avatar-xxl brround" alt="">
                <h4 class="h4 mb-0 mt-3">Ovidiu DITA</h4>
                <p class="card-text">Frontend</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4">
        <div class="card ">
            <div class="card-header ">
                <h3 class="card-title ">Developer</h3>
            </div>
            <div class="card-body text-center">
                <img src="avatar/ilie.jpg" class="avatar avatar-xxl brround" alt="">
                <h4 class="h4 mb-0 mt-3">Claudiu ILIE</h4>
                <p class="card-text">Backend</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4">
        <div class="card ">
            <div class="card-header ">
                <h3 class="card-title ">Developer</h3>
            </div>
            <div class="card-body text-center">
                <img src="avatar/cocias.jpg" class="avatar avatar-xxl brround" alt="">
                <h4 class="h4 mb-0 mt-3">Cristian COCIAS</h4>
                <p class="card-text">Database</p>
            </div>
        </div>
    </div>
</div>