<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- Meta data -->
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
        <!-- Title -->
        <title>PIE</title>
        <!--Favicon -->
        <link rel="icon" href="assets/images/brand/favicon.ico" type="image/x-icon"/>
        <!-- Style css -->
        <link href="/css/style.css" rel="stylesheet"/>
        <!--Horizontal css -->
        <link id="effect" href="/plugins/horizontal-menu/dropdown-effects/fade-up.css" rel="stylesheet"/>
        <link href="/plugins/horizontal-menu/horizontal.css" rel="stylesheet"/>
        <!-- P-scroll bar css-->
        <link href="/plugins/p-scrollbar/p-scrollbar.css" rel="stylesheet"/>
        <!---Icons css-->
        <link href="/plugins/web-fonts/icons.css" rel="stylesheet"/>
        <link href="/plugins/web-fonts/font-awesome/font-awesome.min.css" rel="stylesheet">
        <link href="/plugins/web-fonts/plugin.css" rel="stylesheet"/>
        <!-- Skin css-->
        <link href="/css/skins.css" rel="stylesheet"/>
    </head>

    <body class="app">
    <!---Global-loader-->
    <div id="global-loader">
        <img src="assets/images/svgs/loader.svg" alt="loader">
    </div>

    <div class="page">
        <div class="page-main">
            {{>header}}
            {{>navbar}}
            {{{body}}}
        </div>
    </div>

    {{>footer}}

    <!-- Jquery js-->
    <script src="/js/vendors/jquery-3.4.0.min.js"></script>
    <!-- Bootstrap4 js-->
    <script src="/plugins/bootstrap/popper.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--Horizontal js-->
    <script src="/plugins/horizontal-menu/horizontal.js"></script>
    <!-- P-scroll js-->
    <script src="/plugins/p-scrollbar/p-scrollbar.js"></script>
    <!-- Custom js-->
    <script src="/js/custom.js"></script>
</body>
</html>