<div class="container">
    <h2>{{payload.message}}</h2>
</div>

				<div class="app-content page-body">
					<div class="container">

						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title">Platforma de studiu si testare a cunostintelor...bla bla bla</h4>
						
							</div>
							<div class="page-rightheader ml-auto d-lg-flex d-none">
			
								<div class="ml-3">
								
								
									<span class="float-left">
										<span class="mb-0 mt-1 mr-2">2</span><small class="mb-0">Cursuri studiate</small>
									</span>
								</div>
							</div>
						</div>
						<!--End Page header-->

						<!--Row-->
						<div class="row">
							<div class="col-md-12 col-xl-4">
								<div class="card overflow-hidden">
									<img  src="assets/images/photos/12.jpg" alt="image">
									<div class="card-body">
										<h5 class="card-title mb-3">Cursul 01</h5>
										<p class="card-text">O scurta descriere referitoare la cursul ce poate fi studiat. La finalul lectiei va urma un scurt test de 20 de intrebari.</p>
										<a href="/cursuri" class="btn btn-orange">Incepe cursul</a>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-xl-4">
								<div class="card overflow-hidden">
									<img  src="assets/images/photos/12.jpg" alt="image">
									<div class="card-body">
										<h5 class="card-title mb-3">Cursul 02</h5>
										<p class="card-text">O scurta descriere referitoare la cursul ce poate fi studiat. La finalul lectiei va urma un scurt test de 20 de intrebari.</p>
										<a href="/cursuri" class="btn btn-orange">Incepe cursul</a>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-xl-4">
								<div class="card overflow-hidden">
									<img  src="assets/images/photos/12.jpg" alt="image">
									<div class="card-body">
										<h5 class="card-title mb-3">Cursul 03</h5>
										<p class="card-text">O scurta descriere referitoare la cursul ce poate fi studiat. La finalul lectiei va urma un scurt test de 20 de intrebari.</p>
										<a href="/cursuri" class="btn btn-orange">Incepe cursul</a>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-xl-4">
								<div class="card overflow-hidden">
									<img  src="assets/images/photos/12.jpg" alt="image">
									<div class="card-body">
										<h5 class="card-title mb-3">Cursul 04</h5>
										<p class="card-text">O scurta descriere referitoare la cursul ce poate fi studiat. La finalul lectiei va urma un scurt test de 20 de intrebari.</p>
										<a href="/cursuri" class="btn btn-orange">Incepe cursul</a>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-xl-4">
								<div class="card overflow-hidden">
									<img  src="assets/images/photos/12.jpg" alt="image">
									<div class="card-body">
										<h5 class="card-title mb-3">Cursul 05</h5>
										<p class="card-text">O scurta descriere referitoare la cursul ce poate fi studiat. La finalul lectiei va urma un scurt test de 20 de intrebari.</p>
										<a href="/cursuri" class="btn btn-orange">Incepe cursul</a>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-xl-4">
								<div class="card overflow-hidden">
									<img  src="assets/images/photos/12.jpg" alt="image">
									<div class="card-body">
										<h5 class="card-title mb-3">Cursul 06</h5>
										<p class="card-text">O scurta descriere referitoare la cursul ce poate fi studiat. La finalul lectiei va urma un scurt test de 20 de intrebari.</p>
										<a href="/cursuri" class="btn btn-orange">Incepe cursul</a>
									</div>
								</div>
							</div>
				
					
						
				
				
					
		
						</div>
						<!-- End Row-->

						{{>team}}

					</div>
				</div><!-- end app-content-->