				<div class="app-content page-body">
					<div class="container">

						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title">Platforma de studiu si testare a cunostintelor...bla bla bla</h4>
						
							</div>
							<div class="page-rightheader ml-auto d-lg-flex d-none">
			
								<div class="ml-3">
								
								
									<span class="float-left">
										<span class="mb-0 mt-1 mr-2">2</span><small class="mb-0">Cursuri studiate</small>
									</span>
								</div>
							</div>
						</div>
						<!--End Page header-->

						<!--Row-->
						<div class="row">
							<div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Recent Projects</h3>
                                    
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table card-table table-vcenter border text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Nume Curs</th>
                                                    <th>Data</th>
                                                    <th>Status</th>
                                                    <th>Punctaj</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td><a href="store.html" class="text-inherit">Cursul 01</a></td>
                                                    <td>18-04-2021</td>
                                                    <td><span class="status-icon bg-success"></span> Admis </td>
                                                    <td>85/100</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="store.html" class="text-inherit">Cursul 02</a></td>
                                                    <td>N/A</td>
                                                    <td><span class="status-icon bg-warning"></span> In asteptare</td>
                                                    <td>- - /100</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="store.html" class="text-inherit">Cursul 03</a></td>
                                                    <td>N/A</td>
                                                    <td><span class="status-icon bg-danger"></span> Blocat</td>
                                                    <td>- - /100</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="store.html" class="text-inherit">Cursul 04</a></td>
                                                    <td>N/A</td>
                                                    <td><span class="status-icon bg-danger"></span> Blocat</td>
                                                    <td>- - /100</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="store.html" class="text-inherit">Cursul 05</a></td>
                                                    <td>N/A</td>
                                                    <td><span class="status-icon bg-danger"></span> Blocat</td>
                                                    <td>- - /100</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="store.html" class="text-inherit">Cursul 06</a></td>
                                                    <td>N/A</td>
                                                    <td><span class="status-icon bg-danger"></span> Blocat</td>
                                                    <td>- - /100</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
		
						</div>
						<!-- End Row-->



					</div>
				</div><!-- end app-content-->

                