<div class="container">

    <div class="page-header">
        <div class="page-leftheader">
            <h4 class="page-title">Testarea cunostintelor</h4>
        </div>
    </div>

    {{>quiz_element}}
</div>