<div class="container">
    {{#unless payload.quiz_passed}}
        {{#if payload.quiz_available}}
            {{>quiz_element}}
        {{/if}}
    {{/unless}}
</div>
<script src="js/quiz.js"></script>