<div class="row">
    <div class="col-12 col-lg-12">
        <h2 class="card-header text-center bg-dark text-white">Securitatea Sistemelor informatice</h2>
        <div class="card mb-4 shadow-lg mb-5 p-3">
            <div class="card-body">
            <div class="row justify-content-md-center" style="margin-top: 100px; margin-bottom: 100px">
                {{>alerta_info}}
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card-group mb-0">
                        <div class="card p-4">
                            <div class="card-body">
                            <h1>Creare cont</h1>
                            <p class="text-muted">Creaza un cont nou</p>
                                <form method="POST" action="/inregistrare">
                                    <div class="input-group mb-3">
                                        <span class="input-group-addon"><i class="fa fa-user w-4"></i></span>
                                        <input name="firstName" type="text" class="form-control" id="firstNameInput"  placeholder="Nume">
                                    </div>

                                    <div class="input-group mb-3">
                                        <span class="input-group-addon"><i class="fa fa-user w-4"></i></span>
                                        <input name="lastName" type="text" class="form-control" id="lastNameInput" placeholder="Numele de familie">
                                    </div>

                                    <div class="input-group mb-4">
                                        <span class="input-group-addon"><i class="fa fa-envelope  w-4"></i></span>
                                        <input name="email" type="email" class="form-control" id="emailInput" placeholder="Introdu mail">
                                    </div>

                                    <div class="input-group mb-4">
                                        <span class="input-group-addon"><i class="fa fa-lock  w-4"></i></span>
                                        <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Parola">
                                    </div>

                                    <div class="input-group mb-4">
                                        <span class="input-group-addon"><i class="fa fa-lock  w-4"></i></span>
                                        <input name="confirmPassword" type="password" class="form-control" id="confirmPasswordInput" placeholder="Reintrodu parola">
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-12">
                                        <button type="submit" class="btn btn-orange btn-block px-4">Creaza un cont nou</button>
                                        </div>
                                    </div>

                                </form>



                            </div>
                        </div>
                    <div class="card text-white bg-dark py-5 d-md-down-none">
                    <div class="card-body text-center">
                    <div>
                    <h2>Ai deja cont?</h2>
                    <p>Foloseste contul de mail si parola pentru a te autentifica pe platforma.</p>
                    <a href="/logare" class="btn btn-white mt-3">Autentificare</a>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}


